@media (max-width: 1100px) {

 .email-preview{
    height:150px;
    gap: 10px;
    font-size: 0.9rem;
 }

 .mail-side-bar {
    width: 9rem;
    height: 250px;
    padding-inline-start:5px;
  }
  ul{
    padding-inline-start: 20px;
  }
}