.email-preview {
<<<<<<< HEAD
    display: grid;
    grid-template-columns:0.5fr 1fr 2fr 6fr 1fr;
    grid-template-rows: 1fr;
    height: 50px;
    align-items: center;
    padding: 0 10px 0 3px;
    box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
    cursor: pointer;
    background-color: rgb(213, 240, 240);

=======
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 6fr 2fr;
  grid-template-rows: 1fr;
  height: 50px;
  align-items: center;
  padding: 0 10px 0 3px;
  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
  cursor: pointer;
>>>>>>> 7e0b3f8ed458618d8bf9597c7c14b740b499fa6f
}

.un-readed {
  font-weight: 800;
}
<<<<<<< HEAD
.extended-mail{
    /* padding: 0px 10px 20px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: rgb(176, 196, 206);
    border-bottom: 2px solid #e3e8ea;
    border-radius:10px;
}
.extend-mail-content{
    padding:10px 10px 20px 20px;
}
.extend-mail-body{
    margin-top: 1rem;
}
.email-line{
    list-style-type: none;
=======
.extended-mail {
  padding: 0px 10px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: rgb(215, 205, 205);
  border-bottom: 2px solid #e3e8ea;
}

.email-line {
  list-style-type: none;
>>>>>>> 7e0b3f8ed458618d8bf9597c7c14b740b499fa6f
}

.star {
  color: lightslategray;
  display: flex;
  padding: 10px;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  transition: color 0.5s, background-color 0.5s;
}
.star:hover {
  color: yellow;
  background-color: rgba(211, 211, 211, 0.37);
}
.is-star-on {
  color: yellow;
}

<<<<<<< HEAD
.is-star-off{
    color: lightslategray;

}

.extended-delete{
border-radius: 50%;
font-size: large;
border: none;
background-color:  rgba(231, 231, 231, 0.832) ;
}
.extended-delete:hover{
color: rgb(189, 55, 55) ;
cursor: pointer;

}
.extended-mail-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    background-color: rgb(193, 213, 224);;
}

=======
.is-star-off {
  color: lightslategray;
}
>>>>>>> 7e0b3f8ed458618d8bf9597c7c14b740b499fa6f
